@model EasyAbp.Abp.SettingUi.Web.Pages.Components.SettingHtmlInfo

    <p class="form-text">@Model.Description</p>
<input type="number" id="@Model.Name" name="@Model.FormName" value="@Model.Value" class="form-control"/>
