@model SettingHtmlInfo

@if (!Model.Description.IsNullOrEmpty())
{
<p class="form-text mt-0 mb-2">@Model.Description</p>
}
<input type="text" id="@Model.Name" name="@Model.FormName" value="@Model.Value" class="form-control"/>
